{% extends "$base/index.html.jinja" %}

{%- macro emailable_author(author) %}
  {%- if author.email %}
    <a href="mailto:{{author.email}}">{{author.name}}</a>
  {%- else %}
    {{author.mame}}
  {%- endif %}
{%- endmacro %}

{% block html_head_appendix %}
<link rel="stylesheet" href="spherex.css">
{% endblock html_head_appendix %}

{% block info_sidebar %}
{% block info_header %}
<header class="lander-info-header">
  <img src="spherex-logo.png" width="120px" />
  <h1 class="lander-h1 lander-info-header__title">{{ metadata.title }}</h1>

  {% if metadata.identifier %}
    <div class="spherex-handle">
      <span>{{ metadata.identifier }}</span>
    </div>
  {% endif %}

  <div class="spherex-metadata-badges">
    {% if metadata.pipeline_level %}
      <img alt="Pipeline level {{ metadata.pipeline_level }}" src="https://img.shields.io/badge/Pipeline-{{ metadata.pipeline_level }}-{% if metadata.pipeline_level == "L1" %}88BFFE{% elif metadata.pipeline_level == "L2" %}1AC604{% elif metadata.pipeline_level == "L3" %}BEB1D0{% else %}FEBCFF{% endif %}">
    {% endif %}
    {% if metadata.diagram_index %}
      <img alt="Diagram index {{ metadata.diagram_index }}" src="https://img.shields.io/badge/Diagram_Index-{{ metadata.diagram_index }}-{% if metadata.pipeline_level == "L1" %}88BFFE{% elif metadata.pipeline_level == "L2" %}1AC604{% elif metadata.pipeline_level == "L3" %}BEB1D0{% else %}FEBCFF{% endif %}">
    {% endif %}
    {% if metadata.difficulty %}
      <img alt="{{ metadata.difficulty }} difficulty" src="https://img.shields.io/badge/Difficulty-{{ metadata.difficulty }}-{% if metadata.difficulty == "High" %}red{% elif metadata.difficulty == "Medium" %}yellow{% elif metadata.difficulty == "Low" %}green{% else %}blue{% endif %}">
    {% endif %}
  </div>

  <div class="spherex-version-metadata">
    <div class="spherex-version-metadata__items">
      {% if metadata.version and metadata.dashboard_url %}
        <span class="spherex-version-metadata__item">Version <a href="{{ metadata.dashboard_url }}">{{ metadata.version }}</a></span>
      {% elif metadata.version %}
        <span>Version {{ metadata.version }}</span>
      {% endif %}

      {% if metadata.date_modified %}
        <time class="spherex-version-metadata__item" datetime="{{ metadata.date_modified | simple_date }}">{{ metadata.date_modified | simple_date }}</time>
      {% endif %}
    </div>

    {% if metadata.dashboard_url %}
    <nav class="spherex-version-metadata__nav"><a href="{{ metadata.dashboard_url }}">Change version →</a></nav>
    {% endif %}
  </div>

</header>
{% endblock info_header %}

{% if metadata.authors %}
<section class="lander-info-authors">
  <h2 class="lander-h2 sr-only">Authors</h2>
  {% if metadata.authors %}
  <dl class="spherex-author-list">
    {% if metadata.ipac_lead %}
      <dt>IPAC Lead</dt>
      <dd>{{ emailable_author(metadata.ipac_lead) }}</dd>
    {% endif %}
    {% if metadata.spherex_lead %}
      <dt>SPHEREx Lead</dt>
      <dd>{{ emailable_author(metadata.spherex_lead) }}</dd>
    {% endif %}
    {% if metadata.other_authors %}
      <dt>Other Authors</dt>
      <dd>
        <ul class="comma-list">
        {%- for author in metadata.other_authors %}
        <li>{{ emailable_author(author) }}</li>
        {%- endfor %}
        </ul>
      </dd>
    {% endif %}
  </dl>
  {% endif %}
</section>
{% endif %}

{%- block info_abstract %}
{% if metadata.abstract.html %}
<section class="lander-info-abstract">
  <h2 class="lander-h2 lander-info-abstract__header">Abstract</h2>
  {{ config.abstract.html|safe }}
</section>
{% endif %}
{%- endblock info_abstract %}

{%- block info_downloads %}
<section class="lander-info-downloads">
  <h2 class="lander-h2 lander-info-downloads__header">Download</h2>
  {%- block info_downloads_filelist %}
  <ul class="lander-info-filelist">
    <li><a href="{{ pdf.name|safe }}" download>{{ pdf.name }}</a> ({{ pdf.human_size }})</li>
    {% for item in attachments %}
    <li><a href="{{ item.name|safe }}" download>{{ item.name }}</a> ({{ pdf.human_size }})</li>
    {% endfor %}
  </ul>
  {%- endblock info_downloads_filelist %}
</section>
{%- endblock info_downloads %}

{% block info_metadata %}
<section class="lander-info-metadata">

</section>
{% endblock info_metadata %}
  <h2 class="lander-h2 lander-info-downloads__header">Metadata</h2>
  <dl class="spherex-metadata-list">
    {% if metadata.repository_url %}
      <dt>Repository</dt>
      <dd><a href="{{metadata.repository_url}}">{{metadata.github_slug}}</a></dd>
    {% endif %}
    {% if metadata.git_ref %}
      <dt>{{ metadata.git_ref_type.title() }}</dt>
      <dd><a href="{{metadata.github_ref_url}}">{{ metadata.git_ref }}</a></dd>
    {% endif %}
    {% if metadata.git_commit_sha and metadata.github_commit_url %}
      <dt>Commit</dt>
      <dd><a href="{{ metadata.github_commit_url }}">{{ metadata.git_commit_sha[:6] }}</a></dt>
    {% endif %}
    {% if metadata.ci_build_id and metadata.ci_build_url %}
      <dt>CI</dt>
      <dd><a href="{{ metadata.ci_build_url }}">{{ metadata.ci_build_id }}</a></dd>
    {% endif %}
  <dl>
{% endblock info_sidebar %}
